/**
 * Pöytäkirjojen frontin tyylit
 **/

/*********************
 *    Archive-sivu   *
 *********************/

.pk-indeksit {
    background-color: #2c8f43 !important;
    color: #fff;
}
.pk-indeksit:hover {
    background-color: #247c39 !important;
    color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
#pk-dropdown-li {
    list-style-type: none;
    margin-bottom: 10px;
}
#pk-taulukko a {
    color: #2c8f43;
    font-size: 1.1em;
}

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltipimg {
    opacity: 0;
    transition: opacity 0.7s;
    border-radius: 6px;
    border: 1px solid #2c8f43;
    box-shadow: 2px 2px 4px #556b55;

    position: absolute;
    left: 110%;
    z-index: 1;
}
.tooltip:hover .tooltipimg {
    opacity: 0.8;
}
.pk-flex-recent {
    display: flex;
    font-size: 1.3em;
    text-align: center;
    align-content: space-between;
    flex-wrap: wrap;
}
.pk-recent {
    flex: 23%;
    max-width: 23%;
    padding: 0 4px;
}
.pk-flex-recent img {
    border: 1px solid #8e9e86;
}
.pk-flex-recent img:hover {
 /*   box-shadow: 2px 2px 4px #556b55; */
    transition: 0.7s; 
}
.page-title-wrap {
    display: none;
}
.customtitle {
    padding-bottom: 20px;
}
/************************
 *      Single-sivu     *
 ************************/


@media screen and (max-width: 830px) {
    .pk-single-meta  {
        width: 100%;
    }
    .pk-thumb {
        width: 100%;
    }
}
@media screen and (min-width: 831px) {
    .pk-single-meta  {
        width: 46%;
    }
    .pk-thumb {
        width: 46%;
    }
}

.pk-thumb a {
    height: 100%;
    width: 100%;
    display: block;
    border: 1px solid #2c8f43;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #556b55;
}
.pk-thumb img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-filter: blur(2px);
}
.pk-thumb img:hover {
    -webkit-filter: blur(0px);
    border-radius: 10px;
}
.pk-grid {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.pk-single-meta {
    text-align: center;
    margin: 15px;
}
.pk-thumb {
    margin: 15px;
}
.pk-single-meta-content {
    height: 90%;
    margin: 0;
}

/* Napit ja animaatiot */

.pk-buttons a {
    background-color: #2c8f43;
    color: white;
    width: 100%;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0 15px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    padding-left: 2.2em;

}
.pk-buttons a:visited {
    color: #666666;
    color: white;
}
.pk-buttons a:hover, .pk-buttons a:focus {
    background-color: #35a64f;
    text-decoration: none;
    border-color: #fec04e;
    color: white;
    outline: none;
}
.pk-buttons a:active, .pk-buttons.active, .pk-buttons.is-active {
    text-shadow: 0 1px 0 rgba(255, 0, 0, 0.3);
    text-decoration: none;
    border-color: #cfcfcf;
    color: #1c5f2c;
    background-color: #247c39;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.pk-buttons-left {
    width: 50%;
    float: left;
}
.pk-buttons-right {
    width: 50%;
    float: right;
}
.pk-buttons-left a {
    background-color: #2c8f43;
    color: white;
    width: 100%;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0 15px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.pk-buttons-left a:visited {
    color: #666666;
    color: white;
}
.pk-buttons-left a:hover, .pk-buttons-left a:focus {
    background-color: #35a64f;
    text-decoration: none;
    border-color: #fec04e;
    color: white;
    outline: none;
}
.pk-buttons-left a:active, .pk-buttons-left.active, .pk-buttons-left.is-active {
    text-shadow: 0 1px 0 rgba(255, 0, 0, 0.3);
    text-decoration: none;
    border-color: #cfcfcf;
    color: #1c5f2c;
    background-color: #247c39;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* Safari tuotti ongelmia joten nuolianimaatiot kommentoitu pois toistaiseksi

.pk-buttons-left a:before {
    margin-top: -3px;
    position: absolute;
    left: 1em;
    content: "\f100";
    padding: 0 10px;
    font-family: FontAwesome;
    font-size: 20px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.pk-buttons-left a:hover:before, .pk-buttons-left a:focus:before, .pk-buttons-left a:active:before {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
}
*/
.pk-buttons-right a {
    background-color: #2c8f43;
    color: white;
    font-weight: 300;
    width: 100%;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    padding: 0 15px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    padding-right: 2.2em;
}
.pk-buttons-right a:visited {
    color: #666666;
    color: white;
}
.pk-buttons-right a:hover, .pk-buttons-right a:focus {
    background-color: #35a64f;
    text-decoration: none;
    border-color: #fec04e;
    color: white;
outline: none; }

.pk-buttons-right a:active, .pk-buttons-right.active, .pk-buttons-right.is-active {
    text-shadow: 0 1px 0 rgba(255, 0, 0, 0.3);
    text-decoration: none;
    border-color: #cfcfcf;
    color: #1c5f2c;
    background-color: #247c39;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
/*
.pk-buttons-right a:before {
    margin-top: -3px;
    content: "\f101";
    position: absolute;
    right: 1em;
    padding: 0 10px;
    font-family: FontAwesome;
    font-size: 20px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}
.pk-buttons-right a:hover:before, .pk-buttons-right a:focus:before, .pk-buttons-right a:active:before {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}
*/

